@inject HomeSpeakerService svc

@if(Songs == null)
{
    <div>No songs in the folder...?</div>
}
else
{
    @foreach(var song in Songs)
    {
        <Song SongViewModel=@song ShowBackground=@toggleBackground() OnDeleted="songDeleted"/>
    }
}

@code {
    [Parameter]
    public string Name{ get; set; }

    [Parameter]
    public IEnumerable<SongViewModel> Songs { get; set; }

    private bool showBackground = false;

    private bool toggleBackground()
    {
        showBackground = !showBackground;
        return showBackground;
    }

    private void songDeleted(int songId)
    {
        Songs = Songs.Where(s => s.SongId != songId);
    }
}
