@inject HomeSpeakerService svc

@if(songs == null)
{
    <div>No songs in the folder...?</div>
}
else
{
    @foreach(var song in songs)
    {
        <Song SongViewModel=@song ShowBackground=@toggleBackground()/>
    }
}

@code {
    [Parameter]
    public string Name{ get; set; }

    private IEnumerable<SongViewModel> songs;

    private bool showBackground = false;

    private bool toggleBackground()
    {
        showBackground = !showBackground;
        return showBackground;
    }

    protected override async Task OnParametersSetAsync()
    {
        songs = await svc.GetSongsInFolder(Name);
    }
}
