@inject HomeSpeakerService svc
<h3>Folder List</h3>
@if (folders == null)
{
    <div>Loading folders...</div>
}
else
{
    <div class="container px-0">
        @foreach (var folder in folders)
        {
            <Folder Name=@folder />
        }
    </div>
}

@code {
    IEnumerable<string>? folders;

    protected override async Task OnInitializedAsync()
    {
        folders = (await svc.GetFolders()).Order();
    }
}
