@inject HomeSpeakerService svc

<div class="row border bg-light mb-1">
    <div class="col">
        <div class="h5" @onclick=toggleExpanded>@(Name ?? "Folder Unknown")</div>
        @if(isExpanded)
        {
            <FolderDetails Name=@Name />
        }
    </div>
    <div class="col-auto">
        <button @onclick=play>▶️</button>
        <button @onclick=queue>➕</button>
    </div>
</div>

@code {
    [Parameter]
    public string? Name { get; set; }

    private bool isExpanded = false;

    async Task play()
    {
        if (Name == null)
            return;

        await svc.PlayFolderAsync(Name);
    }

    async Task queue()
    {
        if(Name == null)
            return;

        await svc.EnqueueFolderAsync(Name);
    }

    void toggleExpanded() => isExpanded = !isExpanded;
}
