@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar bg-secondary">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="col">
                <PlayerStatus />
            </div>
            <div class="col-auto">
                <PlayControls />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
