@inject HomeSpeakerService svc

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Home Speaker</a>
        <button class="btn btn-dark d-block d-sm-none" @onclick=stopAsync><span class="oi oi-media-stop top-0"></span></button>
        <button class="btn btn-dark d-block d-sm-none" @onclick=skipAsync><span class="oi oi-media-skip-forward top-0"></span></button>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="folders">
                <span class="oi oi-list" aria-hidden="true"></span> Folders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="queue">
                <span class="oi oi-list" aria-hidden="true"></span> Queue
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="streams">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Streams
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="log">
                <span class="oi oi-book" aria-hidden="true"></span> Activity
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="youtube">
                <span class="oi oi-video" aria-hidden="true"></span> YouTube
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playlists">
                <span class="oi oi-list" aria-hidden="true"></span> Playlists
            </NavLink>
        </div>
        <PlayerStatus />
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task stopAsync() => await svc.StopPlayingAsync();

    private async Task skipAsync() => await svc.SkipToNextAsync();
}
