@inherits LayoutComponentBase

<div class="page row">
    <div class="sidebar bg-secondary col-auto pe-0" style="min-width: 15em;">
        <NavMenu />
    </div>

    @Body
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />