@inject HomeSpeakerService svc
@inject ILogger<PlayerStatus> logger

<div class="align-middle">
    @serverMessage
</div>

@code {
    protected override void OnInitialized()
    {
        svc.StatusChanged += (_, msg) =>
        {
            serverMessage = msg;
            StateHasChanged();
        };
    }
    string? serverMessage;
}
