@inject HomeSpeakerService svc
@inject ILogger<Song> logger

@if (SongViewModel == null)
{
    <div>Nothing to see here...</div>
}
else
{
    var classVal = "row ms-1";
    if(toggleBackground())
    {
        classVal += " bg-light";
    }
    <div class=@classVal>
        <div class="col">
            <div class="fw-bold">@SongViewModel.Name</div>
            <div>@SongViewModel.Artist @(SongViewModel.Artist != SongViewModel.Album ? $" ({SongViewModel.Album})" : string.Empty)</div>
            @if (ShowFolder)
            {
                <div>@SongViewModel.Folder</div>
            }
        </div>
        <div class="col-auto">
            <button @onclick=Play>▶️</button>
            <button @onclick=Queue>➕</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public SongViewModel SongViewModel { get; set; }

    [Parameter]
    public bool ShowFolder{ get; set; }

    static bool showBackground = false;
    bool toggleBackground()
    {
        showBackground = !showBackground;
        return showBackground;
    }

    async Task Play() => await svc.PlaySongAsync(SongViewModel.SongId);
    async Task Queue() => await svc.EnqueueSongAsync(SongViewModel.SongId);
}
