[Unit]
Description=Brightness API Service

[Service]
ExecStart=/home/piuser/actions-runner/_work/HomeSpeaker/HomeSpeaker/brightness_api/publish/brightness_api --urls https://0.0.0.0:5001
SyslogIdentifier=brightness_api
Restart=always
RestartSec=5
User=piuser
Environment=DOTNET_ROOT=/opt/dotnet

[Install]
WantedBy=multi-user.target