[Unit]
Description=Brightness API Service

[Service]
ExecStart=/home/piuser/actions-runner/_work/HomeSpeaker/HomeSpeaker/brightness_api/publish/brightness_api
SyslogIdentifier=brightness_api
Restart=always
RestartSec=5
User=piuser

[Install]
WantedBy=multi-user.target