@page "/nightscout"
@layout NoTopLayout
@inject IConfiguration config

<div class="col px-0">
    <iframe title="NightScout" src=@config["NIGHTSCOUT_ADDRESS"] frameborder="0" allowfullscreen></iframe>
</div>