@page "/activity"
@page "/log"
@page "/playeractivity"
@using HomeSpeaker.WebAssembly.Services;
@inject HomeSpeakerService svc

<h3>Player Activity</h3>

<table class="table">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Message</th>
        </tr>
    </thead>
    @foreach(var item in logItems)
    {
        <tr>
            <td>@item.Timestamp.ToString("M/d hh:mm:ss")</td>
            <td>@item.Message</td>
        </tr>
    }
</table>

@code {
    record LogItem(DateTime Timestamp, string Message);

    static List<LogItem> logItems = new() { new LogItem(DateTime.Now, "Starting up") };
    static bool hasSubscribed = false;

    protected override void OnInitialized()
    {
        if (hasSubscribed is false)
        {
            svc.StatusChanged += async (_, msg) =>
            {
                logItems.Add(new LogItem(DateTime.Now, msg));
                await InvokeAsync(() => StateHasChanged());
            };
            hasSubscribed = true;
        }
    }
}
