@page "/youtube"
@inject ILogger<YouTube> logger
@inject HomeSpeakerService svc

<h3>YouTube Cache</h3>

<form method="dialog">
    <input type="text" @bind=searchTerm />
    @if (isSearching)
    {
        <div class="spinner-border mx-3" role="status">
            <span class="visually-hidden">Searching...</span>
        </div>
    }
    else
    {
        <button class="btn btn-primary mx-2" type="submit" @onclick=searchAsync>Search</button>
    }
</form>

@if (videos == null)
{
    <p>Search for something to create a temporary fair-use local cache.</p>
}
else
{
    @foreach (var searchResult in videos)
    {
        <YouTubeSearchResult SearchResult="searchResult" />
    }
}

@code {
    bool isSearching = false;
    IEnumerable<Video> videos;
    string searchTerm;
    async Task searchAsync()
    {
        isSearching = true;
        logger.LogInformation("Starting youtube search for {searchTerm}", searchTerm);
        var response = await svc.HomeSpeakerClient.SearchViedoAsync(new SearchVideoRequest { SearchTerm = searchTerm });
        videos = response.Results;
        logger.LogInformation("Found {resultCount} results", videos.Count());
        isSearching = false;
    }
}
